.jobs-grid {
  margin-top: 40px !important;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 1.8rem;
}

.card-container {
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.job-logo {
  position: relative;
  bottom: 30px;
  left: 25px;
  border-radius: 15px;
  max-width: 20%;
}

.job-info {
  padding: 0px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.date-and-job-type {
  display: flex;
  align-content: center;
}

.date {
  margin-right: 5px;
  font-size: 1rem;
}

.dot {
  font-size: 1.5rem;
  position: relative;
  bottom: 6px;
  margin-right: 5px;
}

.date,
.dot,
.job-type,
.job-company {
  color: rgba(129, 129, 129, 0.829);
  font-weight: 400;
}

.job-title {
  font-size: 1.6rem;
}

.job-company {
  font-size: 1rem;
}

.job-location {
  color: rgba(66, 13, 153, 0.61);
  font-size: 1.2rem;
  font-weight: 700;
}

.btn-more-info {
  width: 50%;
  margin-top: 20px;
  border-color: rgba(67, 13, 153, 0.397) !important;
  color: rgba(38, 17, 71, 0.877);
  font-weight: 600;
}

.btn-more-info:hover {
  background-color: rgba(66, 13, 153, 0.61);
}
