.prepend-input {
  background-color: white !important;
  padding: 15px;
  padding-left: 25px;
}

.input-field {
  border: none !important;
  padding: 35px !important;
}

.full-time {
  background-color: white;
  padding: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-left: 0 !important;
  margin-left: 0 !important;
  border-left: solid 1px rgba(221, 221, 221, 0.562);
}

.title {
  padding-right: 0 !important;
}

.location {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-left: solid 1px rgba(221, 221, 221, 0.562);
}

.search-icon,
.location-icon {
  color: rgba(66, 13, 153, 0.61);
  font-size: 2rem !important;
}

@media (max-width: 525px) {
  .full-time,
  .location {
    display: none !important;
  }
  .input-field {
    width: 50% !important;
  }
  .just-for-media {
    display: flex;
    flex-direction: row-reverse;
  }
  .input-group-prepend {
    background-color: rgba(66, 13, 153, 0.61) !important;
    padding: auto 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-icon {
    color: white;
  }
  .search-icon-label {
    margin: 0 !important;
    padding-right: 5px;
  }
}
